openapi: 3.0.3
info:
  title: Subscriptions API
  version: 0.0.0
  contact:
    name: slowtec GmbH
    url: 'https://slowtec.de'
  license:
    name: AGPLv3
    url: 'https://github.com/slowtec/openfairdb/blob/master/LICENSE'
servers:
  - url: 'https://mail.kartevonmorgen.org/api'
    description: Public production server
paths:
  /subscribe:
    post:
      tags:
        - Subscriptions
      summary: Subscribe to changes in bounding box
      description: Subscribe to changes in bounding box
      responses:
        '200':
          description: Successful response
        '422':
          description: 'Request is invalid: The JSON request body could not be parsed, required parameters are missing or have illegal values'
          content:
            application/json:
              schema:
                type: object
                properties:
                  httpStatus:
                    type: integer
                  message:
                    type: string
        '500':
          description: 'Internal Server Error: Something else went wrong'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                title:
                  type: string
                bbox:
                  type: object
                  description: ''
                  required:
                    - lat1
                    - lng1
                    - lat2
                    - lng2
                  properties:
                    lat1:
                      type: number
                    lng1:
                      type: number
                    lat2:
                      type: number
                    lng2:
                      type: number
                email:
                  type: string
                  description: ''
                  format: email
                  minLength: 3
                tags:
                  type: array
                  description: ''
                  items:
                    type: string
                frequency:
                  type: string
                  enum:
                    - hour
                    - day
                    - week
                  description: ''
                  default: hour
                changeType:
                  type: string
                  enum:
                    - new
                    - all
                  default: new
                lang:
                  type: string
                  enum:
                    - en
                    - de
                  default: en
              required:
                - title
                - bbox
                - email
        description: |-
          title: A title for the subscription. This is only for the user to identify different subscriptions, in case he/she subscribes multiple times

          bbox: The bounding box to subscribe to

          email: The email adress to send notifications to

          tags: Only report for entries with the given tags

          frequency: Report frequency
          * **hour** = single email per entry, at most every hour
          * **day** = daily digest
          * **week** = weekly digest

          changeType: What kind of changes to report
          * **new** = report only new entries
          * **all** = report new entries and updates to existing entries

          lang: The language the user wants for the mails.
    parameters: []
components:
  schemas: {}
